@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Basket";
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>
<div class="container">
    <br>
    @if (Model.BasketModel.Items.Any())
    {
        <form method="post">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.BasketModel.Items.Count; i++)
                    {
                        var item = Model.BasketModel.Items[i];
                        <tr>
                            <td>
                                <section class="esh-basket-item esh-basket-item--middle col-lg-3 hidden-lg-down">
                                    <img class="esh-basket-image" src="@item.PictureUrl" />
                                </section>
                                <section class="esh-basket-item esh-basket-item--middle col-xs-3">@item.ProductName</section>
                            </td>
                            <td>
                                <section class="esh-basket-item esh-basket-item--middle col-xs-2">$
                                    @item.UnitPrice.ToString("N2")</section>
                            </td>
                            <td>
                                <section class="esh-basket-item esh-basket-item--middle col-xs-2">
                                    <input type="hidden" name="@("Items[" + i + "].Id")" value="@item.Id" />
                                    <input type="number" class="esh-basket-input" min="0" name="@("Items[" + i + "].Quantity")"
                                        value="@item.Quantity" />
                                </section>
                            </td>
                            <td>
                                <section class="esh-basket-item esh-basket-item--middle esh-basket-item--mark col-xs-2">$
                                    @Math.Round(item.Quantity * item.UnitPrice, 2).ToString("N2")</section>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="esh-catalog-items row">
                <div class="container">
                    <article class="esh-basket-titles esh-basket-titles--clean row">
                        <section class="esh-basket-title col-xs-10"></section>
                        <section class="esh-basket-title col-xs-2">Total</section>
                    </article>

                    <article class="esh-basket-items row">
                        <section class="esh-basket-item col-xs-10"></section>
                        <section class="esh-basket-item esh-basket-item--mark col-xs-2">$
                            @Model.BasketModel.Total().ToString("N2")</section>
                    </article>

                    <article class="esh-basket-items row">
                        <section class="esh-basket-item col-xs-7"></section>
                    </article>
                </div>
                <div class="row">
                    <section class="esh-basket-item col-xs-1">
                        <a asp-page="/Index" class="btn esh-basket-checkout text-white">[ Continue Shopping ]</a>
                    </section>
                    <section class="esh-basket-item col-xs-push-7 col-xs-4">

                        <button class="btn esh-basket-checkout" name="updatebutton" value="" type="submit"
                        asp-page-handler="Update">
                            [ Update ]
                        </button>
                        <a asp-page="./Checkout" class="btn esh-basket-checkout">[ Checkout ]</a>
                    </section>
                </div>
            </div>
        </form>

        if (Model.BasketModel.RecommendedItems.Any())
        {
            <br>
            <h4 class="esh-basket-title row">
                Recommonded for you
            </h4>
            <div class="esh-basket-items row">
                @for (int i = 0; i < Model.BasketModel.RecommendedItems.Count; i++)
                {
                    var recommendedItem = Model.BasketModel.RecommendedItems[i];
                    <div class="esh-basket-item col-md-2">
                        <img class="esh-basket-thumbnail" src="@recommendedItem.PictureUrl" />
                        <div class="esh-basket-name">
                            <span>@recommendedItem.ProductName</span>
                        </div>
                        <div class="esh-basket-price">
                            <span>$ @recommendedItem.UnitPrice.ToString("N2")</span>
                        </div>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <h3 class="esh-basket-items row">
            Basket is empty.
        </h3>
        <section class="esh-basket-item">
            <a asp-page="/Index" class="btn esh-basket-checkout text-white">[ Continue Shopping ]</a>
        </section>
    }
</div>